* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    width: 100%;
    height: 110px;
    border-bottom: 2px solid grey;
}
.titlebox {
    grid-column: 2 / span 1;
    background-color: turquoise;
    text-align: center;
    color: white;
    padding-top: 14%;
}
ul {
    grid-column: 5 / span 6;
    padding-top: 30px;
}
li {
    display: inline;
    color: grey;
    font-size: 20px;
    padding-left: 20px; 
}
.bodyrow {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    height: 700px;
    width: 1664 px;
}
body {
    background-color: lightgrey;
}
.colc {
    margin-top: 50px;
    grid-column: 2;
    grid-row: 2;;
    background-color: white;
    border: 2px solid grey;
}
.header {
    font-size: 35px;
    padding: 35px;
    grid-template-rows: 1fr 11fr;
    color: turquoise;
}
.hr {
    border-bottom: 2px solid grey;
    margin: 0px 20px 0px 20px;
}
.text {
    padding-top: 20px;
    grid-row: 2;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.photo {
    height:200px;
    float: left;
    margin-right: 100px;
    margin: 20px;
}
.footer {
    grid-template-rows: 1fr;
    background-color: grey;
    width: 100%;
    height: 110px;
    border-top: 20px solid grey;
    border-color: turquoise;
    color: white;
    text-align: center;
    padding-top: 50px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .msg {
      height: 200px;
  }
  .button {
    background-color: turquoise;
    border: none;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }